/* HEADER */
header {
    margin: 5%;
    text-align: center;
}
    h1 {
        font-family: monospace;
        font-size: 26pt;
        margin-top: 10%;
    }
    



/* PASSWORD GENERATOR */

textarea {
    width: 80%;
    margin: 5% 10%;
    height: 8em;
    font-size: 18pt;
}

.buttons {
    text-align: center;
}

body {
    background-color: lightgrey;
}

button {
    height: 4em;
    width: 18em;
    font-family: monospace;
    font-size: 12pt;
}